<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block title %}Modification de la photo de profil{% endblock %}


=======
{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Modification de la photo de profil{% endblock %}

{# Contenu de la page #}
>>>>>>> faf3f9f0d923a0fe1b93a376d8d4d2fe9d11767b
{% block body %}

    <div class="container-fluid">

<<<<<<< HEAD
=======
        {# Titre h1 #}
>>>>>>> faf3f9f0d923a0fe1b93a376d8d4d2fe9d11767b
        <div class="row">
            <h1 class="col-12 text-center my-5">Modification de la photo de profil</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 bg-black p-3">
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
<<<<<<< HEAD
=======

                        {# Affichage du formulaire de changement de photo de profil #}
>>>>>>> faf3f9f0d923a0fe1b93a376d8d4d2fe9d11767b
                        {{ form( form ) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

